<template>
  <div class="container student__add-form" id="addStudentForm">
    <InputElement class="row col-md-8" inputDescription="ФИО" inputPlaceholder="Петров Петр Петрович"/>
    <InputElement class="row col-md-8" inputDescription="Вариант" inputPlaceholder="9"/>
  </div>

</template>
<script>
import InputElement from './InputElement'
export default {
  components: {
    InputElement
  }
}
</script>
<style lang="scss" scoped>
  .student__add-form {
    display: none;
    &__active {
      display: block;
    }
  }
</style>