<template>
  <button class="btn" @click="clickEmitter()">{{btnText}}</button>
</template>

<script>
export default {
  props: ['btnText'],
  methods: {
    clickEmitter() {
      this.$emit('click');
      
    }
  }
}
</script>

<style lang="scss" scoped>
.btn {
  display: inline-block;
}
</style>
