<template>
    <div class="input-group mb-3 row">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">{{inputDescription}}</span>
    </div>
    <input type="text" class="form-control" :placeholder="inputPlaceholder" aria-label="Username" aria-describedby="basic-addon1">
  </div>
</template>

<script>
export default {
  props: ['inputDescription', 'inputPlaceholder']
}
</script>

<style lang="scss" scoped>

</style>
