<template>
  <div class="container-fluid">
    <div class="container">
      <Paragraph class="row paragraph header header_l" paragraphText="Список студентов"/>
    </div>
    <div class="row">
      <StudentsList class="students-list__row container-fluid"/>
    </div>
  </div>
</template>

<script>
import Paragraph from './Paragraph.vue';
import StudentsList from './StudentsList.vue';
import Btn from './Btn.vue';

export default {
  components: {
    Btn,
    Paragraph,
    StudentsList
  }
}
</script>

<style lang="scss" scoped>
  .header {
    margin: 10px 0;
  }
</style>