<template>
  <div class="wrapper">
  <div class="container">
    <div class="row col-md-12">
      <Btn class="btn btn-primary" @click="addStudentBtnClick" id="addStudentBtn" :btnText="btnText"/>
    </div>
    <AddStudentForm class="row"/>
    
    <div 
      class="container-fluid students-list__wrapper"
      v-for="listItem in listItems"
      :key="listItem.id"
    >
      <Paragraph
        class="container students-list__item paragraph paragraph_m"
        :paragraphText="'ФИО: ' + listItem.name"
      />
      <Paragraph
        class="container students-list__item paragraph paragraph_m"
        :paragraphText="'Вариант: ' + listItem.variant"
      />
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios';

import { db } from '../firebase/db.js';
import { toggleBtn } from '../helpers/addStudent.js'

import Btn from './Btn.vue';
import AddStudentForm from './AddStudentForm.vue';
import Paragraph from './Paragraph.vue';

export default {
  data(){
    return {
      btnText: 'Добавить студента',
      listItems: []
    }
  },

  components: {
    Btn,
    Paragraph,
    AddStudentForm
  },

  methods: {
    addStudentBtnClick() {
      const btn = document.getElementById('addStudentBtn');

      if (this.btnText == "Добавить студента") {
        this.btnText = "Скрыть форму";
        btn.classList.remove('btn-primary')
        btn.classList.add('btn-danger')
      }
      else {
        this.btnText = "Добавить студента";
        btn.classList.add('btn-primary')
        btn.classList.remove('btn-danger')
      }

      toggleBtn.clicked(event);
    },

    async getStudentsInfo() {
      const response = await db.collection('students').get()
        .then(querySnapshot => {
          this.listItems = querySnapshot.docs.map(doc => doc.data())
        })
    }
  },

  mounted() {
    this.getStudentsInfo();
  }
}
</script>

<style lang="scss" scoped>
.students-list {
  &__wrapper {
    &:nth-child(odd) {
      background-color: #f0f0f0;
    }
    &:nth-child(even) {
      background-color: #fff;
    }
  }
  &__item {
    display: block;
    padding: 10px 20px;
  }
}
.btn {
  margin: 0 0 10px 0;
  
}
</style>
