<template>
  <div class="container-fluid" id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
  #app {
    padding: 0;
  }
</style>